body {
    font-family: 'Open Sans', sans-serif;
}

#colorbarra {
    background-color: #E83E8C;
}

#logofooter {
    background-color: #E83E8C;
}

.icons-section {
    background-color: #17A2B8;
}

.letra {
    font-size: 16px;
}